@import "../../styles/vars";

.calendar {
  width: 210px;
}


.cell {
  display: inline-block;
  width: 26px;
  margin: 2px;
  border-radius: 100px;
  font-size: $fz-s;
  font-weight: $fw-sb;
  text-align: center;
  line-height: 26px;
  cursor: pointer;

  &.disabled {
    &:hover {
      background: none;
      cursor: default;
    }
  }

  &.sameMonth {
    color: $primary-color-light;
  }

  &.chosen {
    background: #d2e3fc;
    color: $blue;

    &:hover {
      background: darken(#d2e3fc, 5);
    }
  }

  &.current {
    color: $white;
    background: $blue;

    &:hover {
      background: darken($blue, 10);
    }
  }

  &:hover {
    background: $hover-grey;
  }
}