@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import "vars";

html,
body {
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
  font-size: $fz-reg;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}
