$primary-color: #3c4043;
$primary-color-light: #70757a;
$grey: #5f6368;
$blue: #1a73e8;
$white: #fff;
$border-grey: #dadce0;

$fz-xl: 26px;
$fz-l: 16px;
$fz-reg: 14px;
$fz-s: 11px;

$fw-sb: 500;
$fw-b: 600;

$hover-grey: #f6f7f7;
$hover-blue: #d2e3fc;